header {
  padding: 2rem;
  background-image: url("../assets/images/background.gif");
}

body {
  background-color: #efefef;
}

.brand-img {
  width: 18rem;
  margin: 25px 0;
}

.ui.fluid.card {
  box-shadow: 2px 2px 8px #848181;
}